.awards {
  padding-top: 133px;
  padding-bottom: 150px;

  color: var(--dark-color);
}

.awards span {
  display: block;

  font-size: 1.125rem;
  line-height: 1.375rem;
}

.awards__title {
  margin: 0 0 52px;
}

.awards__list {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  display: grid;
  margin-top: 0;
  margin-bottom: 9px;
  padding-left: 0;

  list-style: none;

  grid-template-columns: repeat(4, 1fr);
}

.awards__item {
  display: flex;
  flex-direction: column;
  min-width: 200px;
  max-width: 250px;
  /*margin-right: 3.5%;*/
  margin-bottom: 40px;
  padding-top: 43px;
}

.awards__item:last-child {
  margin-right: 0;
}

.awards__item:hover .awards__frame {
  border-color: var(--gray-light-color);

  /*animation-name: frame-bounce;*/
  /*animation-duration: 4s;*/
  /*animation-iteration-count: infinite;*/
  /*animation-delay: 0s;*/
}

.awards__item--sway .awards__frame {
  animation-name: frame-bounce;
  animation-duration: 4s;
  animation-timing-function: linear;
  /*animation-iteration-count: infinite;*/
  animation-delay: 0s;
}

.awards__item--sway .awards__frame--incline {
  animation-name: frame-bounce-incline;
  animation-duration: 4s;
  /*animation-iteration-count: infinite;*/
  animation-delay: 0s;
}

.awards__item:hover .awards__rope::before,
.awards__item:hover .awards__rope::after {
  background-color: var(--gray-light-color);
}

.awards__item--arda svg,
.awards__item--specia svg {
  fill: var(--dark-color);
  /*stroke: var(--dark-color);*/
}

.awards__frame {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 111px;
  margin-bottom: 25px;

  border: 3px solid var(--gray-dark-color);

  transition: border-color 0.3s;
}

.awards__frame--incline {
  transform: rotate(-2deg) translateX(2%);
}

.awards__rope {
  position: absolute;
  top: -44px;
  left: 50%;

  width: 109px;
  height: 42px;

  transform: translateX(-50%);
}

.awards__rope::before,
.awards__rope::after {
  content: "";
  position: absolute;
  top: 50%;

  width: 67px;
  height: 3px;

  background-color: var(--gray-dark-color);

  transition: background-color 0.3s;
}

.awards__rope::before {
  right: 44%;

  transform: rotate(-35deg);
}

.awards__rope::after {
  left: 44%;

  transform: rotate(35deg);
}

.awards__item-title {
  color: var(--dekor-color);
  transition: color 0.3s;
}

.awards__item:hover .awards__item-title {
  color: var(--invers-dekor-color);
}

.awards__extra {
  width: 60%;

  font-size: 2.5rem;
  line-height: 3rem;
}

.awards__extra a {
  color: var(--blue-color);

  transition: color 0.3s;
}

.awards__extra a:hover {
  color: var(--pink-color);
}

@media (max-width: 1365px) {
  .awards__extra {
    width: 80%;
  }
}

@media (max-width: 1023px) {
  .awards__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .awards {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  .awards span {
    font-size: 1.0625rem;
    line-height: 1.3125rem;
  }

  .awards__title {
    margin-bottom: 28px;
  }

  .awards__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .awards__item {
    max-width: none;
    margin-right: 0;
    margin-bottom: 26px;
    padding-right: 15px;
  }

  .awards__item--ambitious {
    display: none;
  }

  .awards__frame {
    width: 250px;
    height: 150px;
    margin-bottom: 14px;
  }

  .awards__extra {
    width: 100%;

    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  .awards__list {
    grid-template-columns: 100%;
  }

  .awards__frame {
    width: 290px;
  }

  .awards__item {
    align-items: center;
    width: 100%;
    padding-right: 0;
  }
}

@keyframes frame-bounce {
  0%,
  100% {
    transform: rotate(0) translateX(0);
  }
  /*влево*/
  12.5%,
  62.5% {
    transform: rotate(2deg) translateX(-2%);
  }
  /*вправо*/
  37.5%,
  87.5% {
    transform: rotate(-2deg) translateX(2%);
  }
}

@keyframes frame-bounce-incline {
  /*вправо*/
  0%,
  50%,
  100% {
    transform: rotate(-2deg) translateX(2%);
  }
  /*влево*/
  25%,
  75% {
    transform: rotate(2deg) translateX(-2%);
  }
}
