.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 37px;
}

.companies__slider-wrapper {
  max-width: 100%;
}

.companies__item {
  height: 110px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  transition: opacity 0.3s;
}

.companies__item svg {
  max-width: 100%;
  max-height: 100%;
  fill: var(--dark-color);

  transition: fill 0.3s;
}

.companies__link {
  display: flex;
  max-height: 100%;
  pointer-events: none;
}

/*.companies__item--bg a {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/

/*.companies__item--bg svg {*/
/*  fill: var(--light-color);*/
/*}*/

/*.companies__item--mail a {*/
/*  width: 120px;*/
/*  height: 46px;*/
/*  border-radius: 5px;*/

/*  background-color: var(--dark-color);*/
/*}*/

/*.companies__item--vk a {*/
/*  width: 60px;*/
/*  height: 60px;*/

/*  !*background-image: url(../img/logo-vk-back-black.svg);*!*/
/*  background-repeat: no-repeat;*/
/*  background-size: contain;*/
/*}*/

.companies__item--bg .bg {
  fill: var(--dark-color);
  transition: fill 0.3s;
}

.companies__item--bg .text {
  fill: var(--light-color);
  transition: fill 0.3s;
}

.companies__link:hover svg,
.companies__link:hover .bg {
  fill: var(--dekor-color);
}

/*.companies__item--bg:hover .bg {*/
/*  fill: var(--dekor-color);*/
/*}*/

.companies__all {
  margin-top: 52px;
  display: flex;
  justify-content: center;

  width: 418px;
  max-width: 100%;
  padding: 11px 32px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.75rem;
  text-align: center;
  color: var(--blue-color);
  text-transform: uppercase;
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
  border: 2px solid var(--blue-color);
}

.companies__all:hover {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.dark .companies__all {
  border-color: var(--pink-color);
  color: var(--pink-color);
}

.dark .companies__all:hover {
  color: var(--white-color);
  background-color: var(--pink-color);
}

.companies--open .companies__slider-wrapper {
  width: 100%;
}

.companies--open ul {
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
  /*justify-content: flex-start;*/
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-column-gap: 38px;
}

.companies--open .companies__item {
  /*min-width: 180px;*/
  /*width: 15%;*/
  width: 100%;
  height: auto;

  justify-content: center;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
  /*margin-right: 20px;*/
}

.companies--open .companies__link {
  pointer-events: auto;
}

.companies--open .companies__all {
  /*margin-top: 20px;*/
  display: none;
}

@media (max-width: 1439px) {
  .companies--open ul {
    grid-template-columns: repeat(5, 1fr);
  }

  .companies--open .companies__item {
    /*width: 18%;*/
  }
}

@media (max-width: 1199px) {
  .companies--open ul {
    grid-template-columns: repeat(4, 1fr);
  }

  .companies--open .companies__item {
    /*width: 22%;*/
  }
}

@media (max-width: 900px) {
  .companies--open ul {
    grid-template-columns: repeat(3, 1fr);
  }

  .companies--open .companies__item {
    /*width: 30%;*/
  }
}

@media (max-width: 767px) {
  .companies {
    padding-top: 0;
  }

  .companies--open .companies__item {
    max-width: none;
    /*width: 30%;*/
  }

  .companies__item svg {
    transform: scale(0.72);
  }

  .companies__item--vk a {
    width: 43px;
    height: 43px;
  }

  .companies__item--mail a {
    width: 90px;
    height: 35px;
  }

  .companies__item--mail a {

  }

  .companies__all {
    max-width: 288px;
    margin-top: 13px;

    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media (max-width: 648px) {
  .companies--open ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .companies--open .companies__item {
    /*width: 45%;*/
  }
}

@media (max-width: 600px) {
  .companies__item {
    max-width: 150px;
    /*max-height: 60px;*/
  }
}

@media (max-width: 448px) {
  .companies--open ul {
    grid-template-columns: repeat(1, 1fr);
  }

  .companies--open .companies__item {
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }

  .companies--open ul {
    justify-content: center;
  }
}
