.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 37px;
  overflow: hidden;
}

.companies__slider-wrapper {
  max-width: 100%;
}

.companies__item {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  height: 110px;

  transition: opacity 0.3s;
}

.companies__item svg {
  max-width: 100%;
  max-height: 100%;

  transition: fill 0.3s;

  fill: var(--dark-color);
}

.companies__link {
  display: flex;
  max-height: 100%;

  pointer-events: none;
}

.companies__item--bg .bg {
  transition: fill 0.3s;

  fill: var(--dark-color);
}

.companies__item--bg .text {
  transition: fill 0.3s;

  fill: var(--light-color);
}

.companies__link:hover svg,
.companies__link:hover .bg {
  fill: var(--dekor-color);
}

.companies__all {
  display: flex;
  justify-content: center;
  width: 418px;
  max-width: 100%;
  margin-top: 52px;
  padding: 11px 32px;

  font-weight: 600;
  font-size: 1rem;
  line-height: 2.75rem;
  text-align: center;
  color: var(--blue-color);
  text-transform: uppercase;

  border: 2px solid var(--blue-color);

  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}

.companies__all:hover {
  color: var(--white-color);

  background-color: var(--blue-color);
}

.dark .companies__all {
  color: var(--pink-color);

  border-color: var(--pink-color);
}

.dark .companies__all:hover {
  color: var(--white-color);

  background-color: var(--pink-color);
}

.companies--open .companies__slider-wrapper {
  width: 100%;
}

.companies--open .swiper-wrapper.container {
  margin-left: auto;
  margin-right: auto;
}

.companies--open ul {
  display: grid;
  box-sizing: border-box;
  width: 100%;

  grid-column-gap: 38px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

.companies--open .companies__item {
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 0;
}

.companies--open .companies__link {
  pointer-events: auto;
}

.companies--open .companies__all {
  display: none;
}

@media (max-width: 1439px) {
  .companies--open ul {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1199px) {
  .companies--open ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .companies--open ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .companies {
    padding-top: 0;
  }

  .companies--open .companies__item {
    max-width: none;
  }

  .companies__item svg {
    transform: scale(0.72);
  }

  .companies__item--vk a {
    width: 43px;
    height: 43px;
  }

  .companies__item--mail a {
    width: 90px;
    height: 35px;
  }

  .companies__all {
    max-width: 288px;
    margin-top: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media (max-width: 648px) {
  .companies--open ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .companies__item {
    max-width: 150px;
  }
}

@media (max-width: 448px) {
  .companies--open ul {
    justify-content: center;

    grid-template-columns: repeat(1, 1fr);
  }

  .companies--open .companies__item {
    justify-content: center;
    width: 100%;
    margin-right: 0;
  }
}
