.companies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 37px;
}

.companies__slider-wrapper {
  max-width: 100%;
}

.companies__item {
  height: 110px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  transition: opacity 0.3s;
}

.companies__item:hover {
  opacity: 0.7;
}

.companies__item svg,
.companies__item img {
  max-width: 100%;
  max-height: 100%;
  fill: var(--light-color);
}

.companies__item a {
  display: flex;
  max-height: 100%;
}

.companies__all {
  margin-top: 52px;
  display: flex;
  justify-content: center;

  width: 418px;
  max-width: 100%;
  padding: 11px 32px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.75rem;
  text-align: center;
  color: var(--blue-color);
  text-transform: uppercase;
  transition: color 0.3s, background-color 0.3s;
  border: 2px solid var(--blue-color);
}

.companies__all:hover {
  color: var(--light-color);
  background-color: var(--blue-color);
}

.companies.open ul {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.companies.open .companies__item {
  min-width: 180px;
  width: 15%;
  height: auto;

  justify-content: flex-start;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
  margin-right: 20px;
}

.companies.open .companies__all {
  margin-top: 20px;
}

@media (max-width: 1439px) {
  .companies.open .companies__item {
    width: 18%;
  }
}

@media (max-width: 1199px) {
  .companies.open .companies__item {
    width: 22%;
  }
}

@media (max-width: 900px) {
  .companies.open .companies__item {
    width: 30%;
  }
}

@media (max-width: 767px) {
  .companies {
    padding-top: 18px;
  }

  .companies.open .companies__item {
    max-width: none;
    width: 30%;
  }

  .companies__all {
    max-width: 288px;
    margin-top: 30px;
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

@media (max-width: 648px) {
  .companies.open .companies__item {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .companies__item {
    max-width: 150px;
    /*max-height: 60px;*/
  }
}

@media (max-width: 448px) {
  .companies.open .companies__item {
    width: 100%;
    margin-right: 0;
    justify-content: center;
  }

  .companies.open ul {
    justify-content: center;
  }
}
