.dark .vision-button__handler {
  right: -20px;

  transform: rotate(360deg);
}

.dark .vision-button__handler::before {
  opacity: 0;
}

.dark .vision-button__handler svg {
  opacity: 1;
}

.dark .thanks__pagination-bullet {
  background-image: url("../img/thanks-bullet-dark.svg");
}

.dark .thanks__pagination-bullet--active {
  background-image: url("../img/thanks-bullet-active.svg");
}

.dark .tests-list__link:hover {
  color: var(--white-color);
}

.dark .thanks {
  background-color: var(--blue-background-color);
}
