.dark .vision-button__handler {
  right: -20px;

  transform: rotate(360deg);
}

.dark .vision-button__handler::before {
  opacity: 0;
}

.dark .vision-button__handler svg {
  opacity: 1;
}

.dark .thanks__pagination-bullet {
  background-image: url("../img/thanks-bullet-dark.svg");
}

.dark .thanks__pagination-bullet--active {
  background-image: url("../img/thanks-bullet-active.svg");
}

.dark .tests-list__link:hover,
.dark .tests-list__link:focus {
  color: var(--white-color);
}

.dark .page-footer__policy a,
.dark .page-footer__info-block a {
  color: var(--pink-color);

  border-bottom: 1px solid rgba(255, 21, 83, 0.5);

  transition: color 0.3s, border-bottom-color 0.3s;
}

.dark .page-footer__policy a:hover,
.dark .page-footer__info-block a:hover {
  color: var(--white-color);

  border-bottom-color: var(--white-color);
}

.dark .header__job-link {
  padding-top: 8px;
  padding-bottom: 8px;

  border: 2px solid var(--pink-color);
}

.dark .header__job-link:hover,
.dark .header__job-link:focus {
  color: var(--pink-color);

  background-color: transparent;
}
