.features-list {
  display: grid;
  margin: 0;
  padding-left: 3px;

  list-style: none;

  counter-reset: features;

  grid-column-gap: 44px;
  grid-row-gap: 64px;
  grid-template-columns: repeat(3, 1fr);
}

.features-list__item {
  position: relative;

  padding-top: 54px;

  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--dark-color);

  transition: color 0.3s;

  counter-increment: features;
}

.features-list__item::before {
  content: "0" counter(features);
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.1;
  color: var(--pink-color);

  transition: color 0.3s;
}

.features-list__item.features-list__item--tests::before {
  content: none;
}

.features-list__tests-list {
  margin-bottom: 10px;
}

@media (max-width: 1260px) {
  .features-list {
    padding-left: 0;

    grid-template-columns: repeat(2, 1fr);
  }

  .features-list__item {
    max-width: none;
    padding-right: 20px;
    padding-left: 0;
  }

  .features-list__item::before {
    left: 0;
  }
}

@media (max-width: 1023px) {
  .features-list {
    grid-column-gap: 30px;
    grid-row-gap: 50px;
  }
}

@media (max-width: 680px) {
  .features-list__item {
    font-size: 1.0625rem;
    line-height: 1.3125rem;
  }


  .features-list__item::before {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

@media (max-width: 600px) {
  .features-list {
    padding-right: 0;
    padding-left: 0;
    
    grid-column-gap: 0;
    grid-row-gap: 18px;
    grid-template-columns: 1fr;
  }

  .features-list__item {
    padding-top: 0;
    padding-right: 0;
    padding-left: 60px;

    font-size: 1.1875rem;
    line-height: 1.3125rem;
  }


  .features-list__item::before {
    top: -6px;
    left: 0;

    font-size: 1.625rem;
    line-height: 1.5;
  }

  .features-list__item:nth-child(3n) {
    padding-left: 60px;
  }

  .features-list__item:nth-child(3n)::before {
    left: 0;
  }

  .features-list__item.features-list__item--tests {
    padding-top: 22px;
    padding-left: 0;
  }
}
