.header-left-group {
  display: flex;
}

.header-left-group--untop .header-left-group__logo-additional-svg {
  display: block;
}

.header-left-group__top-inner {
  display: flex;
  align-items: center;
}

.header-left-group__logo {
  position: relative;
  z-index: 2;

  width: 120px;
  height: 27px;

  color: var(--dark-color);

  cursor: inherit;

  transition: color 0.3s;
}

.header-left-group__logo[href] {
  cursor: pointer;
}

.header-left-group__logo[href]:hover,
.header-left-group__logo[href]:focus {
  color: var(--dekor-color);
}

.header-left-group__logo svg {
  width: 100%;

  fill: currentColor;
}

.header-left-group__logo .light {
  transition: fill 0.3s;

  fill: var(--light-color);
}

.header-left-group__logo-additional-svg {
  display: none;
}

.header-left-group__vision-button {
  margin-left: 28px;
}

@media (max-width: 767px) {
  .header-left-group__logo {
    width: 104px;
    height: 24px;
  }
}
