.header__wrap {
  display: flex;
}

.header--scroll .header__left-group {
  display: block;
}

.header--scroll .header-left-group__top-inner {
  height: 100%;
}

.header__left-group {
  flex-basis: 250px;
  flex-shrink: 0;
  flex-grow: 0;
}

.header__job-link-inner {
  flex-basis: 200px;
  flex-shrink: 0;
  flex-grow: 0;
}

.header__navigation {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.intro__top-content {
  display: flex;
}

.intro__headline {
  flex-basis: calc(100% / 3 * 2);
}

.intro__list {
  flex-basis: calc(100% / 3);
}

.intro__title {
  width: 100%;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.features-list__item {
  flex-basis: 30%;
  margin-bottom: 64px;
}

.features-list__item:nth-child(3n) {
  padding-left: 24px;
}

.features-list__item:nth-child(3n)::before {
  left: 24px;
}

.service {
  display: flex;
  justify-content: space-between;
}

.service__link {
  flex-basis: 221px;
  flex-shrink: 0;
  flex-grow: 0;
}

.service__short-info {
  flex-basis: calc((100% / 20 * 9) - 221px);
}

.service__info {
  flex-basis: calc((100% / 20 * 11) - 221px);
}

.modes {
  overflow: hidden;
}

.modes__content {
  display: flex;
}

.modes__so-so {
  flex-basis: 478px;
  flex-shrink: 0;
  flex-grow: 0;
}

.modes__normal {
  flex-grow: 1;
}

.awards__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.awards__item {
  width: 25%;
  min-width: 25%;
}

.page-footer__main {
  display: flex;
}

.page-footer__form {
  width: 50%;
}

.page-footer__info {
  width: 50%;
  padding-left: 10%;
  flex-shrink: 0;
}

.specialists__list {
  display: flex;
  margin-left: -38px;
  flex-wrap: wrap;
}

.specialists__item {
  margin-left: 38px;
  width: calc((100% - 39px * 3) / 3);
}

.what-yet-we-do__list {
  display: flex;
  margin-left: -38px;
  flex-wrap: wrap;
}

.what-yet-we-do__item {
  margin-left: 38px;
  margin-bottom: 38px;
  width: calc((100% - 39px * 4) / 4);
}

.more-services__list {
  display: flex;
  margin-left: -39px;
  flex-wrap: wrap;
}

.more-services__item {
  margin-left: 39px;
  width: calc((100% - 40px * 2) / 2);
  margin-bottom: 49px;
}

.what-we-do__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -38px;
}

.what-we-do__item {
  width: calc((100% - 39px * 3) / 3);
  margin-bottom: 43px;
  margin-left: 38px;
}

.what-we-do__item.title {
  order: -2;
}

.what-we-do__item--image {
  order: -1;
}

.service-intro__top-content {
  display: flex;
}

.service-info__title,
.service-intro__promo {
  width: 50%;
}

.service-intro__promo {
  padding-left: 38px;
}

.technologies__rows {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.technologies__rows-item {
  max-width: 320px;
  /* width: 33.3%; */
  /* padding-left: 19px; */
  /* padding-right: 19px; */
}

@media (max-width: 1380px) {
  .modes__content {
    display: block;
  }
}

@media (max-width: 1364px) {
  .technologies__rows {
    width: 100%;
  }

  .technologies__rows-item {
    padding-left: 0;
    padding-right: 38px;
  }
}

@media (max-width: 1260px) {
  .intro__top-content {
    display: block;
  }

  .intro__headline {
    flex-basis: 100%;
  }

  .intro__list {
    flex-basis: 100%;
  }

  .features-list__item {
    flex-basis: 45%;
  }

  .features-list__item:nth-child(3n) {
    padding-left: 0;
  }

  .features-list__item:nth-child(3n)::before {
    left: 0;
  }
}

@media (max-width: 1200px) {
  .service__link {
    flex-basis: 174px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .service__short-info {
    flex-basis: calc((100% / 20 * 9) - 174px);
  }

  .service__info {
    flex-basis: calc((100% / 20 * 11) - 174px);
  }

  .what-yet-we-do__list {
    margin-left: -30px;
  }

  .what-yet-we-do__item {
    margin-left: 30px;
    margin-bottom: 30px;
    width: calc(50% - 30px * 2);
  }
}

@media (max-width: 1150px) {
  .service-intro__top-content {
    flex-direction: column;
  }

  .service-intro__promo {
    padding-left: 0;
  }
}

@media (max-width: 1023px) {
  .awards__item {
    width: 33%;
    min-width: 33%;
  }

  .what-we-do__item {
    width: calc((100% - 39px * 2) / 2);
  }
}

@media (max-width: 999px) {
  .service__short-info {
    flex-basis: calc(100% / 7 * 3);
  }

  .service__info {
    flex-basis: calc(100% / 7 * 4);
  }
}

@media (max-width: 767px) {
  .header__job-link-inner {
    display: none;
  }

  .service {
    display: block;
  }

  .awards__item {
    width: 50%;
    min-width: 50%;
  }

  .page-footer__main {
    display: block;
  }

  .page-footer__form {
    width: 100%;
  }

  .page-footer__info {
    width: 100%;
    padding-left: 0;
  }

  .specialists__list {
    margin-left: 0;
    flex-direction: column;
  }

  .specialists__item {
    margin-left: 0;
    width: 100%;
    margin-bottom: 15px;
  }

  .what-yet-we-do__list {
    margin-left: 0;
    flex-direction: column;
  }

  .what-yet-we-do__item {
    margin-left: 0;
    width: 100%;
    margin-bottom: 30px;
  }

  .more-services__list {
    margin-left: 0;
    flex-direction: column;
  }

  .more-services__item {
    margin-left: 0;
    width: 100%;
    margin-bottom: 33px;
  }

  .what-we-do__list {
    margin-left: 0;
    flex-direction: column;
  }

  .what-we-do__item {
    margin-left: 0;
    width: 100%;
    margin-bottom: 22px;
  }

  .technologies__rows {
    flex-wrap: wrap;
  }

  .technologies__rows-item {
    width: 50%;
    margin-bottom: 16px;
  }
}


@media (max-width: 600px) {
  .features-list {
    display: block;
  }

  .features-list__item {
    margin-bottom: 17px;
  }

  .features-list__item:nth-child(3n) {
    padding-left: 60px;
  }

  .awards__item {
    width: 100%;
  }
}

@media (max-width: 550px) {
  .technologies__rows {
    display: flex;
    flex-direction: column;
  }

  .technologies__rows-item {
    padding-right: 0;
    width: 100%;
  }
}
