.intro {
  padding-top: 217px;
  padding-bottom: 98px;
}

.intro__headline {
  display: flex;

  grid-column: 1 / span 2;
}

.intro__drako {
  display: block;
  min-width: 190px;
  margin-top: 6px;
  margin-right: 63px;

  color: var(--dark-color);

  transition: color 0.3s;
}

.intro__drako svg {
  fill: currentColor;
}

.intro__drako .light {
  transition: fill 0.3s;

  fill: var(--light-color);
}

.intro__drako .flag {
  transition: fill 0.3s;

  fill: var(--dekor-color);
}

.intro__title {
  display: flex;
  flex-direction: column;
  margin: 0;

  font-weight: 600;
  font-size: 4.375rem;
  line-height: 5.625rem;
  color: var(--dark-color);
  text-transform: uppercase;

  opacity: 0.9;

  transition: color 0.3s;
}

.intro__title .intro__title-pale {
  margin-top: -8px;

  font-weight: 600;
  font-size: 4.375rem;
  line-height: 4.25rem;
  color: var(--light-color);
  text-transform: uppercase;
  text-shadow: var(--intro-text-color) 1px 0, var(--intro-text-color) 1px 1px, var(--intro-text-color) 0 1px, var(--intro-text-color) -1px 1px, var(--intro-text-color) -1px 0, var(--intro-text-color) -1px -1px, var(--intro-text-color) 0 -1px, var(--intro-text-color) 1px -1px;

  opacity: 0.9;

  transition: text-shadow 0.3s, color 0.3s;
}

.intro__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 14px;

  list-style: none;
}

.intro__item {
  margin-bottom: 26px;

  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.1;
  color: var(--dark-color);

  transition: color 0.3s;
}

.intro__text-important {
  color: var(--pink-color);
}

@media (max-width: 1260px) {
  .intro__title {
    max-width: 600px;
  }

  .intro__list-inner {
    grid-column: 1 / span 2;
  }

  .intro__list {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .intro {
    padding-top: 104px;
    padding-bottom: 59px;
  }

  .intro__headline {
    flex-direction: column;
  }

  .intro__drako {
    align-self: center;
    width: 170px;
    min-width: 170px;
    height: 192px;
    margin-bottom: 6px;
    margin-left: 46px;
  }

  .intro__drako svg {
    width: 100%;
    height: auto;
  }

  .intro__title {
    max-width: none;
    margin-top: 54px;
    margin-bottom: 36px;

    font-size: 3rem;
    line-height: 3.125rem;
  }

  .intro__title .intro__title-pale {
    margin-top: 0;

    font-size: 3rem;
    line-height: 2.875rem;
  }

  .intro__list {
    padding-right: 0;
    padding-left: 0;
  }

  .intro__item {
    margin-bottom: 15px;

    font-weight: 300;
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  .intro__headline {
    display: flex;

    grid-column: 1 / span 1;
  }

  .intro__list-inner {
    grid-column: 1 / span 1;
  }
}
