.modes {
  margin-top: -1px;
  padding-top: 51px;
  padding-bottom: 112px;

  background-color: var(--blue-color);
}

.modes__title {
  margin-bottom: 140px;

  color: var(--white-color);
}

.modes__content {
  display: grid;

  grid-template-columns: 1fr 478px;
}

.modes__normal {
  position: relative;

  display: flex;
  flex-direction: column;
}

.modes__label {
  position: absolute;
  top: 0;
  left: 0;

  width: 759px;
  height: 185px;

  cursor: pointer;
}

.modes__label::before {
  content: "";
  position: absolute;
  z-index: 10;

  width: 100%;
  height: 100%;
}

.modes__normal-rocket-svg-inner {
  position: absolute;
  top: -8px;
  left: 5px;
  z-index: 1;

  color: var(--white-color);

  transition: color 0.3s;
}

.modes__normal-rocket-svg-inner svg {
  fill: var(--blue-color);
  stroke: currentColor;
}

.modes__reactive-rocket-svg-inner {
  position: absolute;
  top: -92px;
  left: 5px;

  color: var(--white-color);

  transition: color 0.3s;
}

.modes__reactive-rocket-svg-inner svg {
  stroke: currentColor;
  stroke-opacity: 0.1;
}

.modes__reactive-rocket-svg-inner circle {
  stroke: currentColor;
  stroke-opacity: 1;
  stroke-width: 3;
}

.modes__reactive-rocket-svg-inner .body-rocket {
  fill: var(--blue-color);
  stroke-opacity: 0.3;
}

.modes__reactive-rocket-svg-inner g[mask] {
  opacity: 0;
}

.modes__reactive-rocket-svg-inner .wings {
  transform: rotate3d(1, 0, 0, 90deg);
  transform-origin: center center;

  transition: transform 0.6s;
}

.modes__label:hover .modes__reactive-rocket-svg-inner .wings {
  transform: rotate3d(1, 0, 0, 0deg);
}

.modes__subtitle {
  margin: 0;
  margin-bottom: 110px;
  padding-left: 53px;

  font-weight: 300;
  font-size: 3.75rem;
  line-height: 3.625rem;
  color: var(--white-color);
  letter-spacing: -1px;

  transition: color 0.3s;
}

.modes__text {
  width: 100%;
  max-width: 765px;
  margin: 0;

  font-weight: 300;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  color: var(--white-color);

  transition: color 0.3s;
}

.modes__normal-content {
  position: absolute;
  z-index: 3;

  padding-top: 50px;
}

.modes__reactive-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  padding-top: 50px;
}

.modes__bigger-content {
  position: relative;
}

.modes__reactive-content .modes__text {
  visibility: hidden;
}

.modes__reactive-content .modes__subtitle {
  opacity: 0.3;
}

.modes__subtitle-unvisible-fragment {
  padding-right: 64px;

  visibility: hidden;
}

.modes__so-so {
  position: relative;

  padding-top: 50px;
}

.modes__so-so-svg-inner {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--white-color);

  transition: color 0.3s;
}

.modes__so-so-svg-inner svg {
  fill: transparent;
  stroke: currentColor;
}


.modes__label svg .check-mark--vertical {
  display: none;
}

.modes__so-so-title {
  position: relative;
  z-index: 1;

  margin: 0;
  margin-bottom: 114px;
  padding-left: 54px;

  font-weight: 300;
  font-size: 2.5rem;
  line-height: 3.625rem;
  color: var(--white-color);
  letter-spacing: -1px;

  transition: color 0.3s;
}

.modes__so-so-text {
  margin: 0;
  padding-right: 76px;
  padding-left: 23px;

  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--white-color);

  transition: color 0.3s;
}

.modes__label .modes__reactive-rocket-svg-inner mask path {
  stroke-width: 0;
}

@media (max-width: 1380px) {
  .modes__content {
    align-items: center;

    grid-template-columns: 1fr;
  }

  .modes__so-so {
    max-width: 478px;
    margin-top: 40px;
  }
}

@media (max-width: 810px) {
  .modes {
    position: relative;
  }

  .modes__title {
    margin-bottom: 19px;
    padding-right: 20px;

    font-weight: 300;
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .modes__normal {
    position: static;
  }

  .modes__normal-content {
    position: static;

    padding-top: 0;
    padding-right: 65px;
  }

  .modes__subtitle {
    margin-bottom: 1px;
    padding-left: 0;

    font-size: 1.5rem;
    line-height: 2.75rem;
    letter-spacing: normal;

    opacity: 0.9;
  }

  .modes__text {
    font-size: 1.0625rem;
    line-height: 1.3125rem;
  }

  .modes__label {
    top: 8px;
    right: 0;
    left: auto;
    z-index: 5;

    width: 329px;
    height: 95px;
    overflow: hidden;

    transform: rotate(-90deg);
    transform-origin: right bottom;
    pointer-events: none;
  }

  .modes__label svg {
    width: 100%;
    height: auto;
  }

  .modes__label svg path {
    stroke-width: 8px;
  }

  .modes__label svg .check-mark {
    display: none;
  }

  .modes__reactive-rocket-svg-inner {
    top: 5px;

    width: 324px;
    height: 156px;
    z-index: 1;
  }

  .modes__normal-rocket-svg-inner {
    display: none;
  }

  .modes__reactive-rocket-svg-inner svg,
  .modes__reactive-rocket-svg-inner .body-rocket {
    stroke: currentColor;
    stroke-opacity: 1;
    stroke-width: 8;
  }

  .modes__reactive-rocket-svg-inner g[mask].wings {
    opacity: 1;

    transform: rotateX(0);
  }

  .modes__label svg .check-mark--vertical {
    display: block;

    stroke-width: 3px;
  }

  .modes__reactive-rocket-svg-inner circle {
    fill: #000000;
    stroke: #000000;
  }

  .modes__reactive-rocket-svg-inner .wings {
    opacity: 0;
  }

  .modes__reactive-content {
    position: static;

    order: -1;
    margin-bottom: 24px;
    padding-top: 0;
    padding-right: 65px;
  }

  .modes__reactive-content .modes__text {
    visibility: visible;
  }

  .modes__reactive-content .modes__subtitle {
    opacity: 1;
  }

  .modes__subtitle-unvisible-fragment {
    padding-right: 0;

    visibility: visible;
  }

  .modes__so-so {
    margin-top: 8px;
    padding-top: 57px;
  }

  .modes__so-so-svg-inner {
    width: 280px;
  }

  .modes__so-so-svg-inner svg {
    width: 100%;
  }

  .modes__so-so-title {
    margin-bottom: 58px;
    padding-left: 54px;

    font-size: 1.5rem;
    line-height: 2.75rem;
    letter-spacing: normal;

    opacity: 0.9;
  }

  .modes__so-so-text {
    padding-right: 0;
    padding-left: 0;

    font-size: 1.0625rem;
    line-height: 1.3125rem;
  }
}

@media (max-width: 767px) {
  .modes {
    padding-top: 21px;
    padding-bottom: 65px;
  }
}
