.project-logistics {
  padding-top: 36px;
  padding-bottom: 138px;

  background-color: var(--blue-color);
}

.project-logistics__title {
  margin-bottom: 57px;
}

.project-logistics__slider {
  margin-left: calc((100% - 1328px) / 2);
}

.project-logistics__list {
  position: relative;

  margin: 0;
  margin-right: 50px;
  padding: 0;
  padding-right: 50px;

  list-style: none;

  counter-reset: project-logistics;
}

.project-logistics__item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 530px;
  padding: 12px 25px 39px 25px;

  background-color: var(--light-color);

  transition: background-color 0.3s;
}

.project-logistics__item.swiper-slide {
  height: auto;
}

.project-logistics__item.swiper-slide:last-child {
  margin-right: 39px;
}

.project-logistics__item.swiper-slide:last-child::before,
.project-logistics__item.swiper-slide:last-child::after {
  content: none;
}

.project-logistics__item::before {
  content: "";
  position: absolute;
  top: 22px;
  left: 38px;

  width: 100%;
  height: 27px;

  background-image: linear-gradient(to top, transparent 0, transparent 12px, var(--pink-color) 12px, var(--pink-color) 15px, transparent 15px);
}

.project-logistics__item::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 40px;

  width: 100%;
  height: 27px;

  background-image: url("../img/arrow-head.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.project-logistics__subtitle {
  position: relative;

  display: inline-block;
  margin: 0;
  margin-bottom: 12px;
  padding-right: 25px;

  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.75rem;
  color: var(--dark-color);

  background-color: var(--light-color);

  transition: background-color 0.3s, color 0.3s;

  counter-increment: project-logistics;
}

.project-logistics__subtitle::before {
  content: "0" counter(project-logistics) ". ";
  position: relative;

  transition: color 0.3s;
}

.project-logistics__text {
  width: 100%;
  margin: 0;

  font-weight: 300;
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--dark-color);

  transition: color 0.3s;
}

@media (max-width: 1260px) {
  .project-logistics__slider {
    margin-left: 30px;
  }
}

@media (max-width: 767px) {
  .project-logistics {
    padding-bottom: 75px;
  }

  .project-logistics__title {
    margin-bottom: 41px;
    padding-right: 24px;
  }

  .project-logistics__slider {
    margin-left: 0;
  }

  .project-logistics__item {
    width: 100vw;
    max-width: calc(100vw - 32px);
    margin-left: 16px;
    padding: 20px 10px 33px 20px;
  }

  .project-logistics__subtitle {
    margin-bottom: 8px;
  }

  .project-logistics__text {
    font-size: 1.0625rem;
    line-height: 1.5rem;
  }

  .project-logistics__item::before {
    top: 31px;
    left: 54px;
  }

  .project-logistics__item::after {
    top: 31px;
    left: 56px;
  }

  .project-logistics__item.swiper-slide:last-child {
    margin-right: 16px;
  }
}
