.projects {
  position: relative;

  padding-top: 87px;
}

.projects::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 5;

  width: 100%;
  height: 3px;

  background-color: var(--dark-color);

  transition: border-color 0.3s;
}

.projects__title {
  margin-bottom: 49px;

  color: var(--dark-color);
}

.projects__button {
  position: absolute;
  top: 50%;
  z-index: 10;

  width: 8.75%;
  margin-top: 1px;

  color: var(--dekor-color);

  transition: color 0.3s;
}

.projects__button:hover,
.projects__button:focus {
  color: var(--invers-dekor-color);
}

.projects__button--next {
  right: 0;
  left: auto;

  transform: rotate(180deg);
}

.projects__button--prev {
  right: auto;
  left: 0;
}

.projects__button-svg {
  width: 100%;

  fill: none;
  stroke: currentColor;
}

@media (max-width: 767px) {
  .projects {
    padding-top: 45px;
  }

  .projects__title {
    margin-bottom: 71px;
  }
}


@media (max-width: 600px) {
  .projects .container {
    padding: 0;
  }

  .projects::after {
    content: none;
  }

  .projects__title {
    padding: 0 16px;
  }

  .projects__wrapper {
    padding-left: 4px;
  }

  .projects__slide {
    width: 90%;
  }

  .projects__button {
    display: none;
  }
}
