.services {
  padding-top: 99px;
  padding-bottom: 50px;

  background-color: var(--blue-background-color);

  transition: background-color 0.3s;
}

.services__title {
  margin-bottom: 46px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  color: #ffffff;
}

.services__item {
  margin-bottom: 32px;
}

.services__item:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .services {
    padding-top: 39px;
    padding-bottom: 25px;
  }

  .services__title {
    margin-bottom: 27px;
  }

  .services__item {
    margin-bottom: 15px;
  }
}
