.specialists {
  padding-top: 85px;
  padding-bottom: 43px;

  background-color: var(--blue-background-color);

  transition: background-color 0.3s;
}

.specialists__title {
  margin-bottom: 47px;

  color: var(--white-color);
}

.specialists__list {
  display: grid;
  margin: 0;
  padding: 0;

  list-style: none;

  gap: 38px;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 767px) {
  .specialists {
    padding-top: 49px;
    padding-bottom: 21px;
  }

  .specialists__title {
    margin-bottom: 38px;
  }

  .specialists__list {
    gap: 15px;
    grid-template-columns: 1fr;
  }
}
