.technologies {
  display: flex;
  flex-direction: column;
}

.technologies__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 94px;
}

.technologies__title {
  margin-top: 0;
  margin-right: 43px;
  margin-bottom: 0;
  padding-bottom: 13px;

  font-weight: 300;
  font-size: 2.5rem;
  line-height: 2rem;
}

.technologies__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.technologies__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 58px;
  margin-right: 41px;
  padding-bottom: 7px;

  background-image: url("../img/shield-blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.technologies__rows {
  display: grid;
  align-self: flex-end;
  width: 74%;
/* grid-auto-flow: column; */

  grid-column-gap: 38px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.technologies__rows-item {
  font-size: 1.5rem;
  line-height: 2rem;
}

.technologies__label {
  margin: 0;

  color: var(--pink-color);
}

.technologies__text {
  margin: 0 0 10px;
}

@media (max-width: 1364px) {
  .technologies__rows {
    width: 100%;
  }
}

@media (max-width: 1023px) {
  .technologies__main {
    flex-direction: column;
    align-items: flex-start;
  }

  .technologies__title {
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .technologies__main {
    margin-bottom: 34px;
  }

  .technologies__title {
    margin: 0;

    font-size: 1.5rem;
    line-height: 1.875rem;
  }

  .technologies__list {
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
  }

  .technologies__list-item {
    width: 43.5px;
    height: 54px;
    margin: 0;
  }

  .technologies__icon {
    transform: scale(0.9, 0.9);
  }

  .technologies__rows {
    grid-column-gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .technologies__rows {
    grid-template-columns: 100%;
  }
}
