.tests-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.tests-list__item {
  margin-right: 21px;
}

.tests-list__item a {
  color: var(--dekor-color);

  transition: color 0.3s;
}

.tests-list__item a:hover,
.tests-list__item a:focus {
  color: var(--invers-dekor-color);
}

.tests-list__item svg {
  fill: currentColor;
}

@media (max-width: 600px) {
  .tests-list__item {
    margin-right: 28px;
  }
}
