.thanks {
  padding-top: 90px;
  padding-bottom: 90px;
}

.thanks__top-group {
  display: flex;
  align-items: center;
  margin-bottom: 43px;
}

.thanks__title {
  padding-right: 43px;

  color: var(--dark-color);
}

.thanks__wrapper.swiper-wrapper {
  align-items: stretch;
}

.thanks__pagination {
  display: flex;
  margin-top: 21px;
}

.thanks__pagination-bullet {
  width: 12px;
  height: 25px;
  margin-right: 17px;

  font-size: 0;

  background-image: url("../img/thanks-bullet.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  transition: opacity 0.3s, transform 0.3s;
}

.thanks__pagination-bullet:hover {
  opacity: 0.7;
}

.thanks__pagination-bullet:focus {
  transform: scale(1.1);
}

.thanks__pagination-bullet--active {
  background-image: url("../img/thanks-bullet-active.svg");
}

@media (max-width: 1200px) {
  .thanks__wrapper.swiper-wrapper {
    align-items: flex-start;
  }

  .thanks__pagination-bullet:hover {
    opacity: 1;
  }

  .thanks__pagination-bullet:focus {
    transform: none;
  }
}

@media (max-width: 767px) {
  .thanks {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .thanks__top-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 32px;
  }

  .thanks__title {
    padding-right: 0;
  }

  .thanks__pagination {
    margin-top: 14px;
    margin-left: 4px;
  }

  .thanks__slider-wrapper {
    padding: 0 16px;
  }
}
