.vision-button {
  position: relative;

  flex-shrink: 0;
  width: 47px;
  padding: 2px 3px;

  background-image: url("../img/sun-light.svg"), url("../img/moon-light.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left 3px top 3px, right 5px top 5px;
  background-size: 13px 13px, auto 11px;
  border: 3px solid var(--dark-color);
  border-radius: 15px;
  cursor: url("../img/mini-logo-pointer.svg"), pointer;

  transition: border-color 0.3s;
}

.vision-button:hover {
  border-color: var(--dekor-color);
}

#color-theme:focus ~ .header .vision-button {
  border-color: var(--dekor-color);
}

.vision-button__handler {
  position: relative;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 15px;

  background-color: var(--dekor-color);
  border-radius: 50%;

  transition: transform 0.3s, right 0.3s, background-color 0.5s;
}

.vision-button__handler::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;

  width: 5px;
  height: 5px;

  border: 1px solid #ffffff;
  border-radius: 50%;

  transition: opacity 0.3s;
}

.vision-button__handler svg {
  opacity: 0;

  transition: opacity 0.3s;
}
