:root {
  /* static variables */
  --font-size-basic: 16px;
  --font-line-basic: 1.333;
  --white-color: #ffffff;
  --blue-color: #2c39f2;
  --pink-color: #ff1553;
  --gray-light-color: #f2f2f2;
  --gray-dark-color: #d3d3d3;

  /* changing variables */
  --dark-color: #000000;
  --light-color: #ffffff;
  --intro-text-color: #2c39f2;
  --pink-hover-color: #ff1553;
  --dekor-color: #2c39f2;
  --invers-dekor-color: #ff1553;
  --blue-background-color: #2c39f2;
}

html {
  /* static variables */
  --font-size-basic: 16px;
  --font-line-basic: 1.333;
  --white-color: #ffffff;
  --blue-color: #2c39f2;
  --pink-color: #ff1553;
  --gray-light-color: #f2f2f2;
  --gray-dark-color: #d3d3d3;

  /* changing variables */
  --dark-color: #000000;
  --light-color: #ffffff;
  --intro-text-color: #2c39f2;
  --dekor-color: #2c39f2;
  --pink-hover-color: #ff1553;
  --invers-dekor-color: #ff1553;
  --blue-background-color: #2c39f2;
}

html.dark {
  --dark-color: #ffffff;
  --light-color: #1f1f1f;
  --intro-text-color: #ffffff;
  --pink-hover-color: #ffffff;
  --dekor-color: #ff1553;
  --invers-dekor-color: #2c39f2;
  --blue-background-color: #2c2929;
}
